*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background-color: rgb(217, 231, 226);
  }
  .card img :hover{
    transform: translate(1.2);
  }
@media only screen  and (max-width:768px){
  .aboutus_background{
    display: flex;
    flex-wrap: wrap;

  }
  .transbox{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
}
  
 